##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
classes:
  - system.linux.system.single
  - cluster.all-mcp-arch-common.opnfv
parameters:
  _param:
    openstack_version: queens

    salt_control_trusty_image: ''  # Dummy value, to keep reclass 1.5.2 happy
    salt_control_xenial_image: salt://salt/files/control/images/base_image_opnfv_fuel_vcp.img

    # VMs spawned on Foundation Node / Jump Host net ifaces (max 4)
    # VCP VMs spawned on KVM Hosts net ifaces (max 3)
    # NOTE(armband): Only x86 VCP VMs spawned via salt.control names differ

{%- if conf.MCP_JUMP_ARCH == 'aarch64' %}
    opnfv_fn_vm_primary_interface: enp1s0
    opnfv_fn_vm_secondary_interface: enp2s0
    opnfv_fn_vm_tertiary_interface: enp3s0
    opnfv_fn_vm_quaternary_interface: enp4s0

    opnfv_vcp_vm_primary_interface: ${_param:opnfv_fn_vm_primary_interface}
    opnfv_vcp_vm_secondary_interface: ${_param:opnfv_fn_vm_secondary_interface}
    opnfv_vcp_vm_tertiary_interface: ${_param:opnfv_fn_vm_tertiary_interface}
{%- else %}
    opnfv_fn_vm_primary_interface: ens3
    opnfv_fn_vm_secondary_interface: ens4
    opnfv_fn_vm_tertiary_interface: ens5
    opnfv_fn_vm_quaternary_interface: ens6

    opnfv_vcp_vm_primary_interface: ens2
    opnfv_vcp_vm_secondary_interface: ens3
    opnfv_vcp_vm_tertiary_interface: ens4
{%- endif %}

    ntp_strata_host1: {{ conf.idf.fuel.network.ntp_strata_host1 or '1.pool.ntp.org' }}
    ntp_strata_host2: {{ conf.idf.fuel.network.ntp_strata_host2 or '0.pool.ntp.org' }}
