##############################################################################
# Copyright (c) 2017 Mirantis Inc. and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
base_image: https://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-arm64-uefi1.img
virtual:
  default:
    vcpus: 6
    ram: 4096
  common:
    apt:
      keys:
        - https://linux.enea.com/mcp-repos/ocata/xenial/archive-mcpocata.key
      repos:
        # <repo name> <repo prio> deb [arch=<arch>] <repo url> <repo dist> <repo comp>
        - armband_openstack 1100 deb [arch=arm64] http://linux.enea.com/mcp-repos/ocata/xenial ocata main
        - armband_mk_openstack 1100 deb [arch=arm64] http://linux.enea.com/apt-mk/xenial nightly ocata
        # NOTE(armband): Empty repo, keep commented out as reference
        # - armband_mcp_extra 1100 deb [arch=arm64] http://linux.enea.com/apt-mk/xenial nightly extra
    pkg:
      install:
        - linux-image-generic-hwe-16.04-edge
        - linux-headers-generic-hwe-16.04-edge
  control:
    pkg:
      remove:
        - cloud-init
