##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
x86_64:
  default:
    disks: 100G  # ';'-separated list of disk drives to create
    vcpus: 4
    ram: 8192
    cluster: &arch_default_cluster_states
      states:
        - virtual_init
{%- if nm.cluster.has_baremetal_nodes %}
        - maas
        - baremetal_init
{%- if conf.MCP_VCP %}
        - virtual_control_plane
{%- endif %}
{%- endif %}
  ubuntu1804:
    base_image: https://cloud-images.ubuntu.com/bionic/current/bionic-server-cloudimg-amd64.img
    common:
      repo:
        keys:
          - https://repo.saltstack.com/apt/ubuntu/18.04/amd64/2017.7/SALTSTACK-GPG-KEY.pub
        repos:
          # <repo name> <repo prio> deb [arch=<arch>] <repo url> <repo dist> <repo comp>
          - saltstack 500 deb [arch=amd64] http://repo.saltstack.com/apt/ubuntu/18.04/amd64/2017.7 bionic main
      pkg:
        install:
  {%- if '-iec-' not in conf.MCP_DEPLOY_SCENARIO and conf.MCP_KERNEL_VER %}
          - linux-image-{{ conf.MCP_KERNEL_VER }}-generic
          - linux-headers-{{ conf.MCP_KERNEL_VER }}-generic
  {%- endif %}
          - salt-minion
          - ifupdown
          - cloud-init
          - dnsmasq
    control:
      repo: ~
      pkg:
        install:
          - cloud-init
  ubuntu1604:
    base_image: https://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-amd64-disk1.img
    common:
      repo:
        keys:
          - https://repo.saltstack.com/apt/ubuntu/16.04/amd64/2017.7/SALTSTACK-GPG-KEY.pub
        repos:
          # <repo name> <repo prio> deb [arch=<arch>] <repo url> <repo dist> <repo comp>
          - saltstack 500 deb [arch=amd64] http://repo.saltstack.com/apt/ubuntu/16.04/amd64/2017.7 xenial main
      pkg:
        install:
          - linux-generic-hwe-16.04
          - salt-minion
    control:
      repo: ~
      pkg:
        install:
          - cloud-init
  centos7:
    base_image: https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2
    common:
      repo:
        keys:
          - https://repo.saltstack.com/yum/redhat/$releasever/x86_64/2017.7/SALTSTACK-GPG-KEY.pub
        repos:
          # <repo name> <repo prio> rpm <repo url>
          - saltstack 0 rpm https://repo.saltstack.com/yum/redhat/$releasever/x86_64/2017.7
      pkg:
        install:
          - salt-minion
          - epel-release
          - git
    control:
      repo: ~
      pkg:
        install:
          - cloud-init
aarch64:
  default:
    disks: 100G  # ';'-separated list of disk drives to create
    vcpus: 6
    ram: 4096
    cluster: *arch_default_cluster_states
  ubuntu1804:
    base_image: https://cloud-images.ubuntu.com/bionic/current/bionic-server-cloudimg-arm64.img
    common:
      repo:
        keys:
          - https://repo.saltstack.com/apt/ubuntu/18.04/amd64/2017.7/SALTSTACK-GPG-KEY.pub
        repos:
          # <repo name> <repo prio> deb [arch=<arch>] <repo url> <repo dist> <repo comp>
          - saltstack 500 deb [arch=amd64] http://repo.saltstack.com/apt/ubuntu/18.04/amd64/2017.7 bionic main
      pkg:
        install:
  {%- if '-iec-' not in conf.MCP_DEPLOY_SCENARIO and conf.MCP_KERNEL_VER %}
          - linux-image-{{ conf.MCP_KERNEL_VER }}-generic
          - linux-headers-{{ conf.MCP_KERNEL_VER }}-generic
  {%- endif %}
          - salt-minion
          - ifupdown
          - cloud-init
          - dnsmasq
    control:
      repo: ~
      pkg:
        install:
          - cloud-init
  ubuntu1604:
    base_image: https://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-arm64-uefi1.img
    common:
      repo:
        keys:
          - https://linux.enea.com/mcp-repos/rocky/xenial/archive-mcprocky.key
          - https://repo.saltstack.com/apt/ubuntu/16.04/amd64/2017.7/SALTSTACK-GPG-KEY.pub
        repos:
          # <repo name> <repo prio> deb [arch=<arch>] <repo url> <repo dist> <repo comp>
          - saltstack 500 deb [arch=amd64] http://repo.saltstack.com/apt/ubuntu/16.04/amd64/2017.7 xenial main
          - armband_3 1201 deb [arch=arm64] http://linux.enea.com/mcp-repos/rocky/xenial rocky-armband main
      pkg:
        install:
  {%- if '-iec-' in conf.MCP_DEPLOY_SCENARIO %}
          - linux-generic-hwe-16.04
  {%- endif %}
          - python-futures
          - salt-minion
    control:
      repo: ~
      pkg:
        install:
          - cloud-init
  centos7:
    base_image: https://cloud.centos.org/altarch/7/images/aarch64/CentOS-7-aarch64-GenericCloud.qcow2.xz
    common:
      repo:
        keys:
          - https://repo.saltstack.com/yum/redhat/$releasever/x86_64/2017.7/SALTSTACK-GPG-KEY.pub
        repos:
          # <repo name> <repo prio> rpm <repo url>
          - openstack-rocky 0 rpm http://mirror.centos.org/altarch/$releasever/cloud/aarch64/openstack-rocky
          - saltstack 0 rpm https://repo.saltstack.com/yum/redhat/$releasever/x86_64/2017.7
      pkg:
        install:
          - salt-minion
          - epel-release
          - git
    control:
      repo: ~
      pkg:
        install:
          - cloud-init
