##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
parameters:
  reclass:
    storage:
      node:
        # We support per-node (not only per-role) compute configuration via IDF
{%- for cmp in range(1, conf.nodes | length - nm.cmp001.idx + 1) %}
{%- set n = '%02d' | format(cmp) %}
{%- set i = nm.cmp001.idx + cmp - 1 %}
        openstack_compute_node{{ n }}:
          params:
{#- No partial defaults, all or nothing. Defaults tuned for lf-pod2. #}
{%- if conf.idf.fuel.reclass is defined %}
{%- if conf.idf.fuel.reclass.node[i].compute_params.common is defined %}
{%- set _common = conf.idf.fuel.reclass.node[i].compute_params.common %}
{%- for _i in _common %}
            {{ _i }}: '"{{ _common[_i] }}"'
{%- endfor %}
{%- else %}
            dummy_value: ~
{%- endif %}
{%- else %}
            nova_cpu_pinning: &nova_cpu_pinning_common '"1,2,3,4,5,7,8,9,10,11"'
            compute_hugepages_size: 1G
            compute_hugepages_count: 16
            compute_hugepages_mount: /mnt/hugepages_1G
            compute_kernel_isolcpu: *nova_cpu_pinning_common
{%- endif %}
{%- endfor %}
