##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
parameters:
  reclass:
    storage:
      node:
        openstack_compute_node01:
          params:
            dpdk0_name: {{ nm.cmp001.nic_private }}
            dpdk0_pci: '"{{ nm.cmp001.bus_private }}"'
        openstack_compute_node02:
          params:
            dpdk0_name: {{ nm.cmp001.nic_private }}
            dpdk0_pci: '"{{ nm.cmp001.bus_private }}"'
