##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
parameters:
  reclass:
    storage:
      node:
        # We support per-node (not only per-role) compute configuration via IDF
{%- for cmp in range(1, conf.nodes | length - nm.cmp001.idx + 1) %}
{%- set n = '%02d' | format(cmp) %}
{%- set i = nm.cmp001.idx + cmp - 1 %}
        openstack_compute_node{{ n }}:
          params:
{#- No partial defaults, all or nothing. Defaults tuned for lf-pod2. #}
{%- if conf.idf.fuel.reclass is defined %}
{%- if conf.idf.fuel.reclass.node[i].compute_params.dpdk is defined %}
{#- Can't dump json here due to dpdk0_* below, explicitly create yaml #}
{%- set _dpdk = conf.idf.fuel.reclass.node[i].compute_params.dpdk %}
{%- for _i in _dpdk %}
            {{ _i }}: '"{{ _dpdk[_i] }}"'
{%- endfor %}
{%- endif %}
{%- else %}
            compute_hugepages_size: 2M
            compute_hugepages_count: 8192
            compute_hugepages_mount: /mnt/hugepages_2M
            compute_kernel_isolcpu: 2,3,10,11
            compute_dpdk_driver: uio
            compute_ovs_pmd_cpu_mask: '"0xc04"'
            compute_ovs_dpdk_socket_mem: '"2048,2048"'
            compute_ovs_dpdk_lcore_mask: '"0x8"'
            compute_ovs_memory_channels: '"2"'
            dpdk0_driver: igb_uio
            dpdk0_n_rxq: 2
{%- endif %}
            dpdk0_name: {{ conf.idf.fuel.network.node[i].interfaces[nm.idx_private] }}
            dpdk0_pci: '"{{ conf.idf.fuel.network.node[i].busaddr[nm.idx_private] }}"'
{%- endfor %}
