##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
classes:
  - service.git.client
  - system.linux.system.single
  - system.linux.system.repo.mcp.salt
  - system.reclass.storage.salt
  - system.salt.master.api
  - system.salt.master.pkg
  - system.salt.minion.ca.salt_master
parameters:
  _param:
    salt_master_environment_repository: "https://github.com/tcpcloud"
    salt_master_environment_revision: master
    reclass_data_repository: local
    salt_master_base_environment: prd
    # yamllint disable-line rule:line-length
    salt_api_password_hash: "$6$sGnRlxGf$al5jMCetLP.vfI/fTl3Z0N7Za1aeiexL487jAtyRABVfT3NlwZxQGVhO7S1N8OwS/34VHYwZQA8lkXwKMN/GS1"
  salt:
    master:
      accept_policy: open_mode
      file_recv: true
  reclass:
    storage:
      data_source:
        engine: local
      node:
        # We support per-node (not only per-role) compute configuration via IDF
{%- for cmp in range(1, nm.cmp_nodes + 1) %}
  {%- set n = '%02d' | format(cmp) %}
  {%- set i = nm.cmp001.idx + cmp - 1 %}

  {%- set admin = nm.net_admin_hosts | length + nm.start_ip[nm.net_admin] + loop.index %}
  {%- set mgmt = nm.net_mgmt_hosts | length + nm.start_ip[nm.net_mgmt] + loop.index %}
  {%- set pub = nm.net_public_hosts | length + nm.start_ip[nm.net_public] + loop.index %}
  {%- set pri = nm.net_private_hosts | length + nm.start_ip[nm.net_private] + loop.index %}
        openstack_compute_node{{ n }}:
          name: cmp{{ '%03d' | format(cmp) }}
          domain: ${_param:cluster_domain}
          classes:
            - cluster.${_param:cluster_name}.openstack.compute
          params:
            pxe_admin_address: {{ nm.net_admin | ipnet_hostaddr(admin) }}
            control_address: {{ nm.net_mgmt | ipnet_hostaddr(mgmt) }}
            tenant_address: {{ nm.net_private | ipnet_hostaddr(pri) }}
            external_address: {{ nm.net_public | ipnet_hostaddr(pub) }}
            salt_master_host: ${_param:reclass_config_master}
            linux_system_codename: xenial

  {#- No partial defaults, all or nothing. Defaults tuned for lf-pod2. #}
  {%- if 'dpdk' in conf.cluster.domain %}
    {%- if conf.idf.fuel.reclass is defined %}
      {%- if conf.idf.fuel.reclass.node[i].compute_params.dpdk is defined %}
        {#- Can't dump json here due to dpdk0_* below, explicitly create yaml #}
        {%- set _dpdk = conf.idf.fuel.reclass.node[i].compute_params.dpdk %}
        {%- for _i in _dpdk %}
            {{ _i }}: '"{{ _dpdk[_i] }}"'
        {%- endfor %}
      {%- endif %}
    {%- else %}
            compute_hugepages_size: 2M
            compute_hugepages_count: 8192
            compute_hugepages_mount: /mnt/hugepages_2M
            compute_kernel_isolcpu: 2,3,10,11
            compute_dpdk_driver: uio
            compute_ovs_pmd_cpu_mask: '"0xc04"'
            compute_ovs_dpdk_socket_mem: '"2048,2048"'
            compute_ovs_dpdk_lcore_mask: '"0x8"'
            compute_ovs_memory_channels: '"2"'
            dpdk0_driver: igb_uio
            dpdk0_n_rxq: 2
    {%- endif %}
            dpdk0_name: {{ conf.idf.fuel.network.node[i].interfaces[nm.idx_private] }}
            dpdk0_pci: '"{{ conf.idf.fuel.network.node[i].busaddr[nm.idx_private] }}"'
  {%- else %}
    {%- if conf.idf.fuel.reclass is defined %}
      {%- if conf.idf.fuel.reclass.node[i].compute_params.common is defined %}
        {%- set _common = conf.idf.fuel.reclass.node[i].compute_params.common %}
        {%- for _i in _common %}
            {{ _i }}: '"{{ _common[_i] }}"'
        {%- endfor %}
      {%- else %}
            dummy_value: ~
      {%- endif %}
    {%- else %}
            compute_hugepages_size: 1G
            compute_hugepages_count: 16
            compute_hugepages_mount: /mnt/hugepages_1G
    {%- endif %}
  {%- endif %}
{%- endfor %}
