*.pyc
.cache*
.project
.pydevproject
**/ci/config/
**/deploy/autodeploy.log
*~
.*.sw?
**/docs_build/
**/docs_output/
**/releng/
**/mcp/deploy/images/
**/mcp/scripts/user-data.sh
**/mcp/scripts/virsh_net/*.xml
**/mcp/scripts/*.img
**/net_map.j2
