[submodule "reclass-system-salt-model"]
	path = mcp/reclass/classes/system
	url = https://github.com/Mirantis/reclass-system-salt-model
	branch = master
[submodule "pharos"]
	path = mcp/scripts/pharos
	url = https://github.com/opnfv/pharos
	branch = master
[submodule "docker"]
	path = docker
	url = https://github.com/epcim/docker-salt-formulas
	branch = master
[submodule "salt-formula-linux"]
	path = mcp/salt-formulas/salt-formula-linux
	url = https://github.com/salt-formulas/salt-formula-linux
	branch = master
[submodule "salt-formula-keystone"]
	path = mcp/salt-formulas/salt-formula-keystone
	url = https://gerrit.mcp.mirantis.com/salt-formulas/keystone
	branch = master
[submodule "salt-formula-maas"]
	path = mcp/salt-formulas/salt-formula-maas
	url = https://github.com/salt-formulas/salt-formula-maas
	branch = master
[submodule "salt-formula-redis"]
	path = mcp/salt-formulas/salt-formula-redis
	url = https://gerrit.mcp.mirantis.com/salt-formulas/redis
	branch = master
[submodule "salt-formula-cinder"]
	path = mcp/salt-formulas/salt-formula-cinder
	url = https://gerrit.mcp.mirantis.com/salt-formulas/cinder
	branch = master
[submodule "salt-formula-heat"]
	path = mcp/salt-formulas/salt-formula-heat
	url = https://gerrit.mcp.mirantis.com/salt-formulas/heat
	branch = master
[submodule "salt-formula-nova"]
	path = mcp/salt-formulas/salt-formula-nova
	url = https://gerrit.mcp.mirantis.com/salt-formulas/nova
	branch = master
[submodule "salt-formula-neutron"]
	path = mcp/salt-formulas/salt-formula-neutron
	url = https://gerrit.mcp.mirantis.com/salt-formulas/neutron
	branch = master
[submodule "salt-formula-oslo-templates"]
	path = mcp/salt-formulas/salt-formula-oslo-templates
	url = https://gerrit.mcp.mirantis.com/salt-formulas/oslo-templates
	branch = master
[submodule "salt-formula-horizon"]
	path = mcp/salt-formulas/salt-formula-horizon
	url = https://gerrit.mcp.mirantis.com/salt-formulas/horizon
	branch = master
[submodule "salt-formula-gnocchi"]
	path = mcp/salt-formulas/salt-formula-gnocchi
	url = https://gerrit.mcp.mirantis.com/salt-formulas/gnocchi
	branch = master
[submodule "salt-formula-etcd"]
	path = mcp/salt-formulas/salt-formula-etcd
	url = https://gerrit.mcp.mirantis.com/salt-formulas/etcd
	branch = master
[submodule "salt-formula-kubernetes"]
	path = mcp/salt-formulas/salt-formula-kubernetes
	url = https://gerrit.mcp.mirantis.com/salt-formulas/kubernetes
	branch = master
[submodule "salt-formula-apache"]
	path = mcp/salt-formulas/salt-formula-apache
	url = https://gerrit.mcp.mirantis.com/salt-formulas/apache
	branch = master
[submodule "salt-formula-aodh"]
	path = mcp/salt-formulas/salt-formula-aodh
	url = https://gerrit.mcp.mirantis.com/salt-formulas/aodh
	branch = master
[submodule "salt-formula-panko"]
	path = mcp/salt-formulas/salt-formula-panko
	url = https://gerrit.mcp.mirantis.com/salt-formulas/panko
	branch = master
[submodule "salt-formula-barbican"]
	path = mcp/salt-formulas/salt-formula-barbican
	url = https://gerrit.mcp.mirantis.com/salt-formulas/barbican
	branch = master
[submodule "salt-formula-ceilometer"]
	path = mcp/salt-formulas/salt-formula-ceilometer
	url = https://gerrit.mcp.mirantis.com/salt-formulas/ceilometer
	branch = master
[submodule "salt-formula-glance"]
	path = mcp/salt-formulas/salt-formula-glance
	url = https://gerrit.mcp.mirantis.com/salt-formulas/glance
	branch = master
[submodule "salt-formula-rabbitmq"]
	path = mcp/salt-formulas/salt-formula-rabbitmq
	url = https://gerrit.mcp.mirantis.com/salt-formulas/rabbitmq
	branch = master
