[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	forgeAuthor = group ldap/opnfv-gerrit-fuel-contributors
        label-Code-Review = -2..+2 group ldap/opnfv-gerrit-fuel-submitters
        label-Code-Review = -1..+1 group Registered Users
        label-Verified = -1..+1 group ldap/opnfv-gerrit-fuel-submitters
        submit = group ldap/opnfv-gerrit-fuel-submitters
	forgeAuthor = group ldap/opnfv-gerrit-fuel-submitters
	pushMerge = group ldap/opnfv-gerrit-fuel-submitters
[access "refs/tags/*"]
        create = group ldap/opnfv-gerrit-fuel-submitters
        push = group ldap/opnfv-gerrit-fuel-submitters
        pushTag = group ldap/opnfv-gerrit-fuel-submitters
        pushSignedTag = group ldap/opnfv-gerrit-fuel-submitters
