##############################################################################
# Copyright (c) 2017 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{# NOTE: br-{mgmt,ctl} are cross-referenced, careful when changing names #}
{%- if conf.idf is defined and conf.idf.net_config is defined -%}
    {#- NOTE: Currently, we assume all cluster nodes use the same mapping -#}

    {#- Determine interface index for each network (plumbing vars) -#}
    {%- set idx_admin = conf['idf']['net_config']['admin']['interface'] -%}
    {%- set idx_mgmt = conf['idf']['net_config']['mgmt']['interface'] -%}
    {%- set idx_private = conf['idf']['net_config']['private']['interface'] -%}
    {%- set idx_public = conf['idf']['net_config']['public']['interface'] -%}

    {#- Physical interface OS name for each network (e.g. em1, enp1s0f1) -#}
    {%- set node = conf['idf']['fuel']['network']['node'][0] -%}
    {%- set nic_admin = node['interfaces'][idx_admin] -%}
    {%- set nic_mgmt = node['interfaces'][idx_mgmt] -%}
    {%- set nic_private = node['interfaces'][idx_private] -%}
    {%- set nic_public = node['interfaces'][idx_public] -%}

    {#- PCI addresses (only for DPDK on private) -#}
    {%- set bus_private = node['busaddr'][idx_private] -%}

    {#- VLAN for each network (only untagged 'admin' is supported by MaaS config!) -#}
    {%- set vlan_admin = conf['idf']['net_config']['admin']['vlan'] -%}
    {%- set vlan_mgmt = conf['idf']['net_config']['mgmt']['vlan'] -%}
    {%- set vlan_private = conf['idf']['net_config']['private']['vlan'] -%}
    {%- set vlan_public = conf['idf']['net_config']['public']['vlan'] -%}
{%- else -%}
    {%- set nic_admin = 'enp6s0' -%}
    {%- set nic_mgmt = 'enp6s0' -%}
    {%- set nic_private = None -%}
    {%- set nic_public = None -%}
    {%- set vlan_admin = 'native' -%}
    {%- set vlan_mgmt = '300' -%}
    {%- set vlan_private = '1000' -%}
{%- endif -%}

{#- Filter-out NIC duplicates by constructing a dict (used NICs only) -#}
{%- set nics = { nic_private: True } -%}

{%- set vlans = { vlan_private: nic_private } -%}
---
parameters:
  linux:
    network:
      interface:
{%- for nic in nics %}
        {{ nic }}:
          enabled: true
          type: eth
    {%- if nic == nic_admin %}
          proto: dhcp
    {%- else %}
          proto: manual
    {%- endif %}
          name: {{ nic }}
{%- endfor %}

{%- for vlan in vlans %}
    {%- if vlan and vlan != 'native' %}
        {{ vlans[vlan] }}.{{ vlan }}:
          enabled: true
          proto: manual
          type: vlan
          name: {{ vlans[vlan] }}.{{ vlan }}
          use_interfaces:
            - {{ vlans[vlan] }}
    {%- endif %}
{%- endfor %}

        br-mesh:
          enabled: true
          type: bridge
          address: ${_param:tenant_address}
          netmask: 255.255.255.0
          mtu: 1500
          use_interfaces:
            - {{ nic_private }}{% if vlan_private and vlan_private != 'native' %}.{{ vlan_private }}{% endif %}
