##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
classes:
  - system.nova.compute.nfv.hugepages
  - system.neutron.compute.nfv.dpdk
  - service.neutron.compute.single
  - cluster.mcp-common-noha.openstack_compute
  - cluster.mcp-ovs-dpdk-noha
parameters:
  neutron:
    compute:
      backend:
        tenant_network_types: ${_param:neutron_tenant_network_types}
  linux:
    network:
      interface:
        pxe_admin_int:
          # For scenarios without public network on cmp, set admin gw
          gateway: {{ nm.net_admin_gw }}
          name_servers:
            - {{ nm.net_admin_gw }}
        dpdk0:
          name: ${_param:dpdk0_name}
          pci: ${_param:dpdk0_pci}
          driver: ${_param:dpdk0_driver}
          enabled: true
          bridge: br-prv
          type: dpdk_ovs_port
          n_rxq: ${_param:dpdk0_n_rxq}
          mtu: ${_param:interface_mtu}
        br-prv:
          enabled: true
          type: dpdk_ovs_bridge
        {{ nm.cmp001.nic_private }}:
          type: dpdk  # Not a meaningful type, just match 'dpdk' for filtering
