##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
classes:
  - cluster.mcp-common-noha.openstack_gateway
  - service.neutron.gateway.single
  - cluster.mcp-ovs-dpdk-noha
parameters:
  neutron:
    gateway:
      backend:
        tenant_network_types: ${_param:neutron_tenant_network_types}
  linux:
    network:
      interface:
        {{ nm.ctl01.nic_private }}:
          ovs_port_type: OVSPort
          type: ovs_port
          bridge: br-prv
          ovs_bridge: br-prv
        br-prv:
          enabled: true
          type: ovs_bridge
          mtu: ${_param:interface_mtu}
          use_interfaces:
            - {{ nm.ctl01.nic_private }}
