##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
classes:
  - cluster.all-mcp-arch-common
parameters:
  _param:
    # infra service addresses
    infra_config_address: ${_param:opnfv_infra_config_address}
    infra_config_deploy_address: {{ conf.SALT_MASTER }}
    cluster_domain: ${_param:cluster_name}.local
    reclass_config_master: ${_param:opnfv_infra_config_pxe_admin_address}
    infra_maas_node01_hostname: mas01
    infra_maas_node01_address: ${_param:opnfv_infra_maas_node01_address}
    infra_maas_node01_deploy_address: ${_param:opnfv_infra_maas_node01_deploy_address}
  linux:
    system:
      apt:
        config:
          prefer_ipv4:
            Acquire::ForceIPv4: true
          allow_downgrades:
            APT::Get::allow-downgrades: true
    network:
      host:
        cfg01:
          address: ${_param:opnfv_infra_config_address}
          names:
            - cfg01
            - cfg01.${_param:cluster_domain}
        cfg:
          address: ${_param:opnfv_infra_config_address}
          names:
            - cfg
            - cfg.${_param:cluster_domain}
{%- if nm.cluster.has_baremetal_nodes %}
        mas01:
          address: ${_param:infra_maas_node01_address}
          names:
            - ${_param:infra_maas_node01_hostname}
            - ${_param:infra_maas_node01_hostname}.${_param:cluster_domain}
{%- endif %}
