##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{#- NOTE: br-{mgmt,ctl} are cross-referenced, careful when changing names #}
{%- import 'net_map.j2' as nm with context %}
{%- import 'net_macros.j2' as ma with context %}
{#- Filter-out NIC duplicates by constructing a dict (used NICs only) #}
{%- set nics = { nm.ctl01.nic_admin: True, nm.ctl01.nic_mgmt: True, nm.ctl01.nic_public: True } %}
{%- set vlans = { nm.vlan_admin: nm.ctl01.nic_admin, nm.vlan_mgmt: nm.ctl01.nic_mgmt, nm.vlan_public: nm.ctl01.nic_public } %}
---
parameters:
  linux:
    network:
      interface:

{{ ma.linux_network_interfaces_nic(nics) }}

{{ ma.linux_network_interfaces_vlan(vlans) }}

        br-mgmt:
          enabled: true
          proto: static
          address: ${_param:pxe_admin_address}
          netmask: ${_param:opnfv_net_admin_mask}
{%- if conf.MCP_VCP %}
{#- For NOVCP scenarios, kvm02 gateway will be added via kvm_novcp class #}
          gateway: {{ nm.net_admin_gw }}
          name_servers:
            - {{ nm.net_admin_gw }}
{%- endif %}
          type: bridge
          use_interfaces:
            - {{ ma.interface_str(nm.ctl01.nic_admin, nm.vlan_admin) }}
          noifupdown: true
        br-ctl:
          enabled: true
          type: bridge
          proto: static
          address: ${_param:single_address}
          netmask: ${_param:opnfv_net_mgmt_mask}
          use_interfaces:
            - {{ ma.interface_str(nm.ctl01.nic_mgmt, nm.vlan_mgmt) }}
          noifupdown: true
{#- For NOVCP scenarios, kvm{01,03} external gateway will be added via triport class #}
        br-ex:
          enabled: true
          proto: manual
          netmask: ${_param:opnfv_net_public_mask}
          type: bridge
          use_interfaces:
            - {{ ma.interface_str(nm.ctl01.nic_public, nm.vlan_public) }}
          noifupdown: true
