##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
parameters:
  _param:
    opnfv_net_admin_mask: {{ nm.net_admin | ipnet_netmask }}
    opnfv_net_mgmt_mask: {{ nm.net_admin | ipnet_netmask }}
    opnfv_net_private_mask: {{ nm.net_admin | ipnet_netmask }}
    opnfv_net_public_mask: {{ nm.net_public | ipnet_netmask }}

    opnfv_net_public: {{ nm.net_public }}
    opnfv_net_public_gw: {{ nm.net_public_gw }}
    opnfv_net_public_pool_start: {{ nm.net_public_pool_start }}
    opnfv_net_public_pool_end: {{ nm.net_public_pool_end }}

    opnfv_net_tenant_vlan: "{{ nm.vlan_private | string | replace('-', ':') }}"

{%- for network in nm.networks %}
{%- for key in nm.hosts[network] %}
{%- set i = loop.index  + nm.start_ip[network] %}
    {{key}}: {{ network | ipnet_hostaddr(i) }}
{%- endfor %}
{%- endfor %}
  salt:
    minion:
      tcp_keepalive: True
      tcp_keepalive_idle: 60
  linux:
    network:
      resolv:
        dns:
{%- for server in nm.dns_public %}
          - {{ server }}
{%- endfor %}
{%- if '-iec-' not in conf.MCP_DEPLOY_SCENARIO and conf.MCP_KERNEL_VER %}
    system:
      kernel:
        version: '{{ conf.MCP_KERNEL_VER }}'
        headers: True
{%- endif %}
