##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
classes:
  - service.opendaylight.server.cluster
  - cluster.mcp-common-ha.openstack_interface_vcp_biport
{%- if conf.MCP_VCP %}
  - cluster.mcp-odl-ha
{%- endif %}
parameters:
  _param:
    linux_system_codename: bionic
  opendaylight:
    server:
      odl_bind_ip: ${_param:single_address}
      odl_rest_port: ${_param:opendaylight_rest_port}
      java_min_mem: 6g
      java_max_mem: 6g
      router_enabled: true
      netvirt_natservice:
        nat_mode: conntrack
      karaf_features:
        odl_default:
          - odl-restconf-all
          - odl-aaa-authn
        netvirt:
          - odl-netvirt-openstack
      seed_nodes_list: {%- for i in range(1, 4) %} ${_param:opendaylight_server_node0{{ i }}_address}{%- endfor %}
