##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
parameters:
  maas:
    region:
      sshprefs:
        - '{{ conf.MAAS_SSH_KEY }}'
      machines:
      {%- set pxe_interface = conf.idf.net_config.admin.interface %}
      {#- We only support exactly 5 nodes for now, hardcoded order #}
      {%- set node_roles = ['kvm01', 'kvm02', 'kvm03', 'cmp001', 'cmp002'] %}
      {%- for node in conf.nodes %}
      {%- if node.node.type == 'baremetal' %}
        {{ node_roles[loop.index0] }}:
          interface:
            mac: {{ node.interfaces[pxe_interface].mac_address }}
          power_parameters:
            power_address: {{ node.remote_management.address.rsplit('/')[0] }}
            power_password: {{ node.remote_management.pass }}
            power_type: {{ node.remote_management.type }}
            power_user: {{ node.remote_management.user }}
          architecture: {{ node.node.arch | dpkg_arch }}/generic
          distro_series: xenial
          hwe_kernel: ${_param:hwe_kernel}
          {%- if node_roles[loop.index0] == 'cmp*' %}
          {{ node_roles[loop.index0] }}:
            disk_layout:
              type: lvm
              root_size: 30G
              root_device: vda
              volume_group: vg1
              volume_name: root
              volume_size: 8
              bootable_device: vda
          {%- endif %}
      {%- endif %}
      {%- endfor %}
