**/*_pdf.yml
all-mcp-arch-common/init.yml
all-mcp-arch-common/opnfv/init.yml
mcp*common-*/infra/config.yml
mcp-common-ha/infra/init.yml
all-mcp-arch-common/infra/maas.yml
mcp-common-ha/infra/kvm_novcp.yml
all-mcp-arch-common/opnfv/maas_proxy.yml
mcp-common-ha/openstack_control.yml
mcp-common-ha/openstack_telemetry.yml
mcp*common-*/openstack_init.yml
mcp-common-ha/openstack_interface_vcp_biport.yml
mcp-common-ha/openstack_interface_vcp_triport.yml
mcp-common-ha/openstack_proxy.yml
mcp-ovs-ha/infra/init_vcp.yml
mcp-ovs-ha/infra/kvm.yml
mcp-ovs-dpdk-ha/infra/init_vcp.yml
mcp-ovs-dpdk-ha/infra/kvm.yml
mcp-odl-ha/infra/init_vcp.yml
mcp-odl-ha/infra/kvm.yml
mcp-odl-ha/infra/maas.yml
mcp-ovn-ha/infra/init_vcp.yml
mcp-ovn-ha/infra/kvm.yml
mcp-odl-ha/opendaylight/control.yml
mcp-odl-ha/openstack/init.yml
mcp-odl-noha/infra/config.yml
mcp-*-noha/openstack/compute.yml
