**/*_pdf.yml
all-mcp-arch-common/init.yml
all-mcp-arch-common/opnfv/init.yml
mcp*common-*/infra/config.yml
mcp-common-ha/infra/init.yml
all-mcp-arch-common/infra/maas.yml
mcp-common-ha/infra/kvm_novcp.yml
all-mcp-arch-common/opnfv/maas_proxy.yml
mcp-common-*/openstack_control.yml
mcp-common-ha/openstack_telemetry.yml
mcp*common-*/openstack_init.yml
mcp-common-ha/openstack_interface_vcp_biport.yml
mcp-common-ha/openstack_interface_vcp_triport.yml
mcp-common-ha/openstack_proxy.yml
mcp-*-ha/infra/kvm.yml
mcp-*-ha/infra/init_vcp.yml
mcp-odl-ha/infra/maas.yml
mcp-odl-*/opendaylight/control.yml
mcp-odl-ha/openstack/init.yml
mcp-odl-*/infra/config.yml
mcp-*-noha/openstack/compute.yml
mcp-common-noha/infra/init.yml
mcp-*-noha/openstack/gateway.yml
mcp-fdio-noha/infra/config.yml
mcp-iec-noha/akraino/iec.yml
mcp-iec-noha/infra/config.yml
mcp-iec-noha/infra/init.yml
mcp-iec-noha/infra/kvm.yml
