<network>
  <name>mcpcontrol</name>
  <bridge name="mcpcontrol"/>
  <forward mode="nat"/>
  <ip address="${SALT_MASTER%.*}.1" netmask="255.255.255.0">
    <dhcp>
      <range start="${SALT_MASTER%.*}.2" end="${SALT_MASTER%.*}.254"/>
    </dhcp>
  </ip>
</network>
