<!--
 Copyright (c) 2018 Mirantis Inc., Enea AB and others.

 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Apache License, Version 2.0
 which accompanies this distribution, and is available at
 http://www.apache.org/licenses/LICENSE-2.0
-->
{%- import 'net_map.j2' as nm with context %}
<network>
  <name>public</name>
  <bridge name="public"/>
{%- if nm.cluster.has_virtual_nodes %}
{#- Ideally, jumpserver would have a real Linux bridge we will hook to.
    In case it doesn't, we use this virsh network as a *mock* public.
    The *mock* public should NOT overlap with the real public in any way. #}
  <forward mode="nat"/>
  <ip address="{{ nm.net_public | ipnet_hostmin }}" netmask="{{ nm.net_public | ipnet_netmask }}"/>
{%- endif %}
</network>
