<!--
 Copyright (c) 2017 Mirantis Inc., Enea AB and others.

 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Apache License, Version 2.0
 which accompanies this distribution, and is available at
 http://www.apache.org/licenses/LICENSE-2.0
-->
{%- if conf.idf.net_config.mgmt is defined %}
  {%- set mgmt_network = conf.idf.net_config.mgmt.network %}
  {%- set mgmt_prefix = conf.idf.net_config.mgmt.mask %}
{%- else %}
  {%- set mgmt_network = '172.16.10.0' %}
  {%- set mgmt_prefix = '24' %}
{%- endif %}
<network>
  <name>mgmt</name>
  <bridge name="mgmt"/>
  <ip address="{{ mgmt_network | ipaddr_index(1) }}" netmask="{{ mgmt_prefix | netmask }}"/>
</network>
