title: Deployment Hardware Adapter (DHA)
# DHA API version supported
version:
created:
comment: Config for Ericsson Montreal Lab POD2

# Adapter to use for this definition
adapter: hp

# Node list.
# Mandatory properties are id and role.

nodes:

- id: 1
  pxeMac: ec:b1:d7:a2:43:c8
  ipmiIp: 10.118.120.235
  ipmiUser: opnfv
  ipmiPass: E///@work2
- id: 2
  pxeMac: ec:b1:d7:a1:8b:d8
  ipmiIp: 10.118.120.236
  ipmiUser: opnfv
  ipmiPass: E///@work2
- id: 3
  pxeMac: ec:b1:d7:a2:44:88
  ipmiIp: 10.118.120.237
  ipmiUser: opnfv
  ipmiPass: E///@work2
- id: 4
  pxeMac: ec:b1:d7:a2:44:a8
  ipmiIp: 10.118.120.238
  ipmiUser: opnfv
  ipmiPass: E///@work2
- id: 5
  pxeMac: ec:b1:d7:a1:bd:68
  ipmiIp: 10.118.120.239
  ipmiUser: opnfv
  ipmiPass: E///@work2
- id: 6
  libvirtName: fuel-opnfv
  libvirtTemplate: templates/hardware_environment/vms/ericsson_montreal_lab/fuel.xml
  isFuel: yes
  username: root
  password: r00tme

disks:
  compute: 40G
  controller: 40G
  fuel: 60G
