##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
{%- import 'net_map.j2' as nm with context %}
parameters:
  _param:
    primary_interface: {{ nm.ctl01.nic_mgmt }}
    tenant_interface: {{ nm.ctl01.nic_private }}
    external_interface: {{ nm.ctl01.nic_public }}
  linux:
    network:
      bridge: openvswitch
      interface:
        pxe_admin_int:
          enabled: true
          name: {{ nm.ctl01.nic_admin }}
          proto: static
          type: eth
          address: ${_param:pxe_admin_address}
          netmask: ${_param:opnfv_net_admin_mask}
          # FIXME: On gtw, routes should be set for public
          gateway: {{ nm.net_admin_gw }}
          name_servers:
            - {{ nm.net_admin_gw }}
          mtu: ${_param:interface_mtu}
        primary_interface:
          enabled: true
          name: ${_param:primary_interface}
          mtu: ${_param:interface_mtu}
          proto: manual
          type: eth
        tenant_interface:
          enabled: true
          name: ${_param:tenant_interface}
          mtu: ${_param:interface_mtu}
          proto: manual
          type: eth
        external_interface:
          enabled: true
          name: ${_param:external_interface}
          mtu: ${_param:interface_mtu}
          proto: manual
          type: eth
        br-floating:
          enabled: true
          type: ovs_bridge
          mtu: ${_param:interface_mtu}
        br-mgmt:
          enabled: true
          type: bridge
          proto: static
          address: ${_param:single_address}
          netmask: ${_param:opnfv_net_mgmt_mask}
          mtu: ${_param:interface_mtu}
          use_interfaces:
            - ${_param:primary_interface}
        float-to-ex:
          enabled: true
          type: ovs_port
          mtu: ${_param:interface_mtu}
          bridge: br-floating
        br-ex:
          enabled: true
          type: bridge
          mtu: ${_param:interface_mtu}
          address: ${_param:external_address}
          netmask: ${_param:opnfv_net_public_mask}
          use_interfaces:
            - ${_param:external_interface}
          use_ovs_ports:
            - float-to-ex
