##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
classes:
  - cluster.mcp-common-ha.openstack_init
parameters:
  _param:
    neutron_tenant_network_types: "flat,vxlan"

    # opendaylight options
    opendaylight_service_host: ${_param:opnfv_opendaylight_server_address}
    opendaylight_rest_port: 8282
{%- if conf.MCP_VCP %}
    opendaylight_server_node01_hostname: odl01
    opendaylight_server_node02_hostname: odl02
    opendaylight_server_node03_hostname: odl03
    opendaylight_server_node01_address: ${_param:opnfv_opendaylight_server_node01_address}
    opendaylight_server_node02_address: ${_param:opnfv_opendaylight_server_node02_address}
    opendaylight_server_node03_address: ${_param:opnfv_opendaylight_server_node03_address}
  linux:
    network:
      host:
  {%- for i in range(1, 4) %}
        odl0{{ i }}:
          address: ${_param:opendaylight_server_node0{{ i }}_address}
          names:
            - ${_param:opendaylight_server_node0{{ i }}_hostname}
            - ${_param:opendaylight_server_node0{{ i }}_hostname}.${_param:cluster_domain}
  {%- endfor %}
{%- else %}
    opendaylight_control_hostname: ${_param:openstack_control_node02_hostname}
    opendaylight_server_node01_hostname: ${_param:opendaylight_control_hostname}
    opendaylight_server_node01_address: ${_param:opnfv_openstack_control_node02_address}
{%- endif %}
