##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
{%- import 'net_macros.j2' as ma with context %}
---
{%- if conf.MCP_VCP %}
classes:
  - cluster.all-mcp-arch-common.opnfv.maas_proxy
  - cluster.all-mcp-arch-common.opnfv.lab_proxy_pdf
parameters:
  _param:
    pxe_admin_interface: ${_param:opnfv_vcp_vm_primary_interface}
    single_nic: ${_param:opnfv_vcp_vm_secondary_interface}
    control_nic: ${_param:opnfv_vcp_vm_tertiary_interface}
  linux:
    network:
      interface:
        pxe_admin:
          enabled: true
          type: eth
          proto: static
          name: ${_param:pxe_admin_interface}
          address: ${_param:pxe_admin_address}
          netmask: ${_param:opnfv_net_admin_mask}
          noifupdown: true
          mtu: ${_param:interface_mtu}
        single_int:
          enabled: true
          type: eth
          proto: static
          name: ${_param:single_nic}
          address: ${_param:single_address}
          netmask: ${_param:opnfv_net_public_mask}
          gateway: ${_param:opnfv_net_public_gw}
          name_servers: {{ nm.dns_public }}
          mtu: ${_param:interface_mtu}
        control_int:
          enabled: true
          type: eth
          proto: static
          name: ${_param:control_nic}
          address: ${_param:control_address}
          netmask: ${_param:opnfv_net_mgmt_mask}
          mtu: ${_param:interface_mtu}
{%- else %}
{#- For NOVCP scenarios, base config is in kvm_pdf, only add/override gw #}
parameters:
  linux:
    network:
      interface:
        br-ex:
          proto: static
          gateway: ${_param:opnfv_net_public_gw}
          name_servers: {{ nm.dns_public }}
{%- endif %}
