parameters:
  _param:
    reclass_config_master: ${SALT_MASTER}

    opnfv_maas_mcp_address: ${MAAS_IP}
    opnfv_maas_pxe_network: ${MAAS_PXE_NETWORK}
    opnfv_maas_pxe_address: ${MAAS_PXE_NETWORK_ROOTSTR}.3
    opnfv_maas_pxe_iprange_start: ${MAAS_PXE_NETWORK_ROOTSTR}.5
    opnfv_maas_pxe_iprange_end: ${MAAS_PXE_NETWORK_ROOTSTR}.250
