##############################################################################
# Copyright (c) 2019 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
classes:
  - system.kubernetes.pool.single
  - system.salt.minion.cert.k8s_client_single
  - system.salt.minion.cert.etcd_client_single
  - cluster.all-mcp-arch-common.backports
  - cluster.mcp-common-noha.openstack_compute_pdf
parameters:
  _param:
    kubernetes_containerd_package: containerd
  kubernetes:
    common:
      hyperkube:
        source: ${_param:kubernetes_hyperkube_source}
        source_hash: ${_param:kubernetes_hyperkube_source_hash}
        pause_image: ${_param:kubernetes_pause_image}
    pool:
      proxy:
        daemon_opts:
          cluster-cidr: ${_param:calico_private_network}/${_param:calico_private_netmask}
      kubelet:
        address: ${_param:single_address}
        fail_on_swap: ${_param:kubelet_fail_on_swap}
      network:
        calico:
          enabled: true
          no_default_pools: false
          image: ${_param:kubernetes_calico_image}
          calicoctl_image: ${_param:kubernetes_calico_calicoctl_image}
          cni_image: ${_param:kubernetes_calico_cni_image}
          kube_controllers_image: ${_param:kubernetes_calico_kube_controllers_image}
          birdcl_source: ${_param:kubernetes_calico_birdcl_source}
          birdcl_source_hash: ${_param:kubernetes_calico_birdcl_source_hash}
          calicoctl_source: ${_param:kubernetes_calico_calicoctl_source}
          calicoctl_source_hash: ${_param:kubernetes_calico_calicoctl_source_hash}
          cni_ipam_source: ${_param:kubernetes_calico_cni_ipam_source}
          cni_ipam_source_hash: ${_param:kubernetes_calico_cni_ipam_source_hash}
          cni_source: ${_param:kubernetes_calico_cni_source}
          cni_source_hash: ${_param:kubernetes_calico_cni_source_hash}
          etcd:
            ssl:
              enabled: true
          policy:
            enabled: ${_param:kubernetes_calico_policy_enabled}
  linux:
    system:
      kernel:
        sysctl:
          # The default operating system limits on mmap counts is likely to be too low,
          # which may result in out of memory exceptions.
          vm.max_map_count: 262144
    network:
      interface:
        br-mgmt:
          post_up_cmds:
            - ip r rep 10.254.0.0/16 via ${_param:single_address}
        pxe_admin_int:
          gateway: {{ nm.net_admin_gw }}
          name_servers:
            - {{ nm.net_admin_gw }}
    storage:
      enabled: true
      swap:
        img:
          enabled: false
          engine: file
          device: /swap.img
