##############################################################################
# Copyright (c) 2017 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- if conf.idf is defined and conf.idf.net_config is defined -%}
    {%- set vlan_private = conf['idf']['net_config']['private']['vlan'] -%}
{%- else -%}
    {%- set vlan_private = '1000' -%}
{%- endif -%}
---
classes:
  - cluster.baremetal-mcp-pike-common-ha.openstack_compute
  - cluster.baremetal-mcp-pike-ovs-dpdk-ha.infra
  - system.neutron.compute.nfv.dpdk
parameters:
  neutron:
    gateway:
      dpdk: 'True'
      vhost_socket_dir: ${_param:compute_ovs_vhost_socket_dir}
      backend:
        tenant_vlan_range: ${_param:neutron_tenant_vlan_range}
  nova:
    compute:
      libvirt_service: libvirtd
      libvirt_bin: /etc/default/libvirtd
  linux:
    network:
      interface:
        dpdk0:
          name: ${_param:dpdk0_name}
          pci: ${_param:dpdk0_pci}
          driver: igb_uio
          enabled: true
          bridge: br-prv
          type: dpdk_ovs_port
          n_rxq: 2
        br-prv:
          enabled: true
          type: dpdk_ovs_bridge
          address: ${_param:tenant_address}
          netmask: 255.255.255.0
          {%- if vlan_private and vlan_private != 'native' %}
          tag: {{ vlan_private }}
          {%- endif %}
