##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
{%- import 'net_map.j2' as nm with context %}
{%- import 'net_macros.j2' as ma with context %}
{#- Filter-out NIC duplicates by constructing a dict (used NICs only) #}
{%- set nics = { nm.ctl01.nic_mgmt: True, nm.ctl01.nic_private: True } %}
{%- set vlans = { nm.vlan_mgmt: nm.ctl01.nic_mgmt } %}
{%- if '-fdio-' in conf.MCP_DEPLOY_SCENARIO %}
{%- do nics.update({ nm.ctl01.nic_public: True }) %}
{%- do vlans.update({ nm.vlan_public: nm.ctl01.nic_public }) %}
{%- elif '-ovs-' not in conf.MCP_DEPLOY_SCENARIO %}
{%- set vlan_private_start = (nm.vlan_private | string).rsplit('-')[0] %}
{%- do vlans.update({ vlan_private_start: nm.ctl01.nic_private }) %}
{%- endif %}
parameters:
  linux:
    network:
{%- if '-fdio-' not in conf.MCP_DEPLOY_SCENARIO %}
{%- set floating_br_type = 'ovs_bridge' %}
      bridge: openvswitch
{%- else %}
{%- set floating_br_type = 'bridge' %}
      vpp:
        enabled: true
        decimal_interface_names: true
        # Reuse ovs-dpdk socket mem configuration from IDF
        dpdk_socket_mem: ${_param:compute_ovs_dpdk_socket_mem}
        main_core: ${linux:system:kernel:isolcpu}
        gid: 'neutron'
        commands: |
          create tap host-if-name vpp_ext_tap host-bridge br-floating rx-ring-size 1024 tx-ring-size 1024
          set interface state ${_param:external_vpp_tap} up
      dpdk:
        enabled: true
        driver: "${_param:compute_dpdk_driver}"
{%- endif %}
      interface:
        pxe_admin_int:
          enabled: true
          name: {{ nm.ctl01.nic_admin }}
          proto: static
          type: eth
          address: ${_param:pxe_admin_address}
          netmask: ${_param:opnfv_net_admin_mask}
          mtu: ${_param:interface_mtu}
          noifupdown: true

{#- prevent duplicates for tagged mgmt on the same physical interface as PXE/admin #}
{%- if nm.ctl01.nic_admin in nics %}
  {%- do nics.pop(nm.ctl01.nic_admin) %}
{%- endif %}

{{ ma.linux_network_interfaces_nic(nics) }}

{{ ma.linux_network_interfaces_vlan(vlans) }}

{%- if '-fdio-' not in conf.MCP_DEPLOY_SCENARIO %}
        {{ ma.interface_str(nm.ctl01.nic_public, nm.vlan_public) }}:
          enabled: true
          mtu: ${_param:interface_mtu}
          proto: manual
          ovs_port_type: OVSPort
          type: ovs_port
          ovs_bridge: br-floating
          bridge: br-floating
{%- endif %}
        br-floating:
          enabled: true
          type: {{ floating_br_type }}
          proto: static
          address: ${_param:external_address}
          netmask: ${_param:opnfv_net_public_mask}
          gateway: ${_param:opnfv_net_public_gw}
          name_servers: {{ nm.dns_public }}
          use_interfaces:
            - {{ ma.interface_str(nm.ctl01.nic_public, nm.vlan_public) }}
          noifupdown: true
        br-mgmt:
          enabled: true
          type: bridge
          proto: static
          address: ${_param:single_address}
          netmask: ${_param:opnfv_net_mgmt_mask}
          mtu: ${_param:interface_mtu}
          use_interfaces:
            - {{ ma.interface_str(nm.ctl01.nic_mgmt, nm.vlan_mgmt) }}
