##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- import 'net_map.j2' as nm with context %}
---
parameters:
  linux:
    network:
      ovs_nowait: true
      interface:
        dpdk0:
          name: ${_param:dpdk0_name}
          pci: ${_param:dpdk0_pci}
          driver: ${_param:dpdk0_driver}
          enabled: true
          bridge: br-prv
          type: dpdk_ovs_port
          n_rxq: ${_param:dpdk0_n_rxq}
        br-prv:
          enabled: true
          type: dpdk_ovs_bridge
        br-floating:
          datapath_type: netdev
