##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
classes:
  - service.opendaylight.server.single
  - service.quagga.server.single
  - cluster.all-mcp-arch-common.backports
  - cluster.mcp-odl-noha
  - cluster.mcp-odl-noha.opendaylight.control_pdf
parameters:
  opendaylight:
    server:
      odl_bind_ip: ${_param:single_address}
      odl_rest_port: ${_param:opendaylight_rest_port}
      java_min_mem: 4g
      java_max_mem: 4g
      router_enabled: true
      netvirt_natservice:
        nat_mode: conntrack
      karaf_features:
        odl_default:
          - odl-restconf-all
          - odl-aaa-authn
        netvirt:
          - odl-netvirt-openstack
{%- if '-sfc-' in conf.MCP_DEPLOY_SCENARIO %}
          - odl-netvirt-sfc
{%- endif %}
